@font-face {
    font-family: "Virgil";
    src: url("./Virgil.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent-color: #f67c3b;
    --back-color: #f9cbae;
    --link-color: #55abac;
}

/* minimalist reset */
* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body {
    font-family: "Virgil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

div,
span {
    border: 1px solid red;
}
